<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="3" android:versionName="1.0.2" package="com.devsdna.TheAppOfTheDoctor" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="28" />
	<application android:label="TheAppOfTheDoctor.Android" android:icon="@drawable/icon"></application>
</manifest>